footer {
	color: white;
	height: 3rem;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(0, 0, 0);
	width: 100%;

	animation-name: footer;
	animation-duration: 10s;
	animation-iteration-count: 1;
}