@import "_nullstyle";
@import "_animations";
@import "fonts";

.wrapper {
	min-height: 100vh;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	font-family: 'ubuntu';
	cursor: default;
	background: linear-gradient(90deg, rgba(89, 0, 248, 0) 0%, rgba(91, 0, 248, 0.686) 13%, rgba(135, 11, 255, 0.78) 87%, rgba(89, 0, 248, 0) 100%),
		url('../../public/2.jpg') 0 0/cover no-repeat;
}

//-----------------------------------------------------------------------

.shopper {
	font-size: 8vh;
	font-family: Impact;
	letter-spacing: 6px;
	background: url('../../public/3.jpg');
	background-position: 0px 50px;
	background-clip: text;
	background-size: 15rem;
	-webkit-background-clip: text;
	-webkit-text-fill-color: #0000;
	transform: scale(1);
	transition-duration: 0.8s;

	&:hover {
		transform: scale(1.1);
		background-clip: text;
		background-position: 0px 20px;
	}
}

//-----------------------------------------------------------------------

header {

	background-color: rgba(1, 0, 3, 1);
	height: 10vh;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	z-index: 50;


	animation-name: logoAnimation;
	animation-duration: 50s;
	animation-iteration-count: infinite;

}

nav {
	font-size: 0.8rem;
	background-color: rgba(1, 0, 3, 1);
	height: auto;
	display: flex;
	flex-direction: column-reverse;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

@media (min-width: 315px) {
	nav {
		flex-direction: row;
		flex-wrap: wrap-reverse;
	}
}

@media (min-width: 850px) {
	nav {
		font-size: 1rem;
		flex-wrap: nowrap;
		height: 1.5rem;
	}
}

@media (min-width: 1000px) {
	nav {
		font-size: 1.5rem;
		height: 2rem;
	}
}

//--------------------------------------------------------


.btn {
	text-transform: uppercase;
	text-align: center;

	&:hover {
		.menu__list {
			margin-top: 0;
			transition-timing-function: cubic-bezier(0, 0, 0, 1);
		}

		.menu__item {
			background: rgb(255, 255, 255);
			background-clip: text;
		}
	}
}

.btn__menu {
	text-transform: uppercase;
	font-family: Impact;
	letter-spacing: 6px;
	background: white;
	background-position: 0px -50px;
	background-clip: text;
	background-size: 100%;
	-webkit-background-clip: text;
	-webkit-text-fill-color: #0000;
	transition-duration: 0.8s;
	position: relative;
	z-index: 10;
	margin: 0 0.8rem;
	padding: 1rem 0;

	&:hover {
		background: url('../../public/3.jpg');
		background-clip: text;
	}
}

@media (min-width: 850px) {
	.btn__menu {
		margin: 0.2rem 0.8rem;
		padding: 0;
	}
}

.menu__list {
	text-transform: capitalize;
	font-size: 1rem;
	padding: 0.5rem 0;
	box-shadow: 0px -10px 10px #00000032 inset;
	border-radius: 0px 0px 25px 25px;
	background: linear-gradient(90deg, rgba(89, 0, 248, 0) 0%, rgba(0, 0, 0, 0.686) 15%, rgba(0, 0, 0, 0.686) 85%, rgba(89, 0, 248, 0) 100%);
	position: relative;
	z-index: 5;
	margin-top: -100vh;
	transition-duration: 0.8s;
	transition-timing-function: cubic-bezier(0.5, 0.3, 0, 0.0);
}

.menu__item {
	padding: 0.4rem;
	border-radius: 25px;
	margin-bottom: 1rem;
	transition-duration: 0.7s;

	&:hover {
		box-shadow: 0px 0px 10px #ffffff inset, 0px 0px 10px #ffffff;
		transition-duration: 0.3s;
	}
}

//---------------------------------------------------------

.filters {
	background-color: rgba(1, 0, 3, 1);
	height: auto;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.filters__item {
	font-size: 0.8rem;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #ffffff;
	padding: 0.4rem;
	border-radius: 25px;
	margin-bottom: 1rem;

	transition-duration: 0.7s;

	&:hover {
		box-shadow: 0px 0px 10px #ffffff inset, 0px 0px 10px #ffffff;
		transition-duration: 0.3s;
	}
}

@media (min-width: 1000px) {
	.filters__item {
		font-size: 1rem;
	}
}

.filters__text {
	display: block;
}

.filters__close {
	color: #ffffff;

	&:hover {
		color: red;
		transition-duration: 0.3s;
	}
}

//---------------------------------------------------------

.main {
	width: 90vw;
	margin: 0 auto;
	flex: 1 1 auto;
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.main__item {
	font-size: 0.8rem;
	width: 80vw;
	margin: 2vw;
	padding: 0.5vw;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	background: rgb(205, 158, 234);
	box-shadow: 0px 0px 5px rgba(91, 0, 248, 0.686) inset;
	border-radius: 5px;
	transform: scale(1);
	transition-duration: 0.7s;

	& img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 4px;
	}

	&:hover {
		transform: scale(1.1);
		box-shadow: 0px 0px 15px #ffffff inset, 0px 0px 10px #ffffff;
		transition-duration: 0.3s;
	}
}

@media (min-width: 250px) {
	.main__item {
		width: 40vw;
		height: 60vw;
	}
}

@media (min-width: 510px) {
	.main__item {
		width: 20vw;
		height: 30vw;
	}
}

@media (min-width: 750px) {
	.main__item {
		font-size: 1.1rem;
	}
}

@media (min-width: 1500px) {
	.main__item {
		width: 16vw;
		height: 24vw;
	}
}

.title {
	padding: 0.5vw;
	margin-bottom: 0.5rem;
}

.priceandrate {
	width: 100%;
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
}

@media (min-width: 850px) {
	.priceandrate {
		flex-direction: row;
		justify-content: space-between;
	}
}

.rate,
.price {
	display: flex;
	background-image: radial-gradient(ellipse, rgba(76, 15, 189, 0.301) 0%, rgba(247, 25, 136, 0) 70%);
	padding: 0.5vw;
}

.btn__buy {
	border-radius: 25px;
	font-weight: 600;
	width: 90%;
	height: 1rem;
	padding: 0.5vw;
	margin-bottom: 0.5rem;
	transform: scale(0.95);
	transition-duration: 0.7s;

	&:hover {
		transform: scale(1);
		color: #ffffff;
		font-weight: 800;
		box-shadow: 0px 0px 10px #ffffff inset, 0px 0px 10px #ffffff;
		transition-duration: 0.3s;
	}
}

//----------------------------------------------------------

footer {
	color: white;
	height: 3rem;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(0, 0, 0);
	width: 100%;
}

//-----------------------------------------------------------

.basket {

	display: none;

	font-size: 0.3rem;
	position: absolute;
	z-index: 60;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	overflow: auto;
	width: 100%;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.825);
}

@media (min-width: 300px) {
	.basket {
		font-size: 0.5rem;
	}
}

@media (min-width: 500px) {
	.basket {
		font-size: 1rem;
	}
}

@media (min-width: 1400px) {
	.basket {
		font-size: 1.5rem;
	}
}

.basket__container {
	width: 50vw;
	height: auto;
	margin: 5% auto;
	background: rgb(205, 158, 234);
	padding: 10px;
}

.close {
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 2rem;
	color: rgb(205, 158, 234);

	transform: scale(1);
	transition-duration: 0.7s;

	&:hover {
		transform: scale(1.1);
		text-shadow: 0px 0px 10px #ffffff;
		transition-duration: 0.3s;
	}
}

.basket__item {
	display: flex;
	border: 1px solid #000;
	height: 10vw;
	margin: 10px 0;
}

.basket__img {
	width: 10vw;
	object-fit: cover;
	flex: 1 0 10%;

}

.basket__content {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.basket__title {
	flex: 0 1 100%;
	text-align: center;
}

@media (min-width: 950px) {
	.basket__title {
		padding: 0.5rem;
	}
}

.basket__priceandrate {
	flex: 1 1 45%;
}

.basket__price,
.basket__rate {
	display: flex;
	flex-wrap: nowrap;
	width: 2rem;
}

@media (min-width: 300px) {

	.basket__price,
	.basket__rate {
		width: 3rem;
		padding: 0 0.5rem;
	}
}

@media (min-width: 750px) {

	.basket__price,
	.basket__rate {
		padding: 0.5rem;
		width: auto;
	}
}

.basket__qty,
.basket__dlt {
	flex: 0 1 20%;
}

.basket__dlt {
	transform: scale(1);
	transition-duration: 0.7s;

	&:hover {
		color: red;
		font-weight: bold;
		transform: scale(1.1);
		text-shadow: 0px 0px 10px #ffffff;
		transition-duration: 0.3s;
	}
}

@media (min-width: 950px) {

	.basket__qty,
	.basket__dlt {
		padding: 0.5rem 0;
	}
}