@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";


@import "_nullstyle";
@import "_animations";
@import "_fonts";
@import "_header";
@import "_menu.scss";
@import "_filters.scss";
@import "_community";
@import "_publications";
@import "_main.scss";
@import "_footer.scss";
@import "_basket.scss";
@import "_product.scss";


.wrapper {
	min-height: 100vh;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	font-family: 'ubuntu';
	cursor: default;
	background: linear-gradient(90deg, rgba(89, 0, 248, 0) 0%, rgba(91, 0, 248, 0.686) 13%, rgba(135, 11, 255, 0.78) 87%, rgba(89, 0, 248, 0) 100%),
		url('../../public/2.jpg') 0 0 no-repeat fixed;
}

a {
	text-decoration: none;
	color: white;
	font-weight: normal;
}

//---------------------------------------------------------

@media (min-width: 850px) {
	.fixed__top {
		position: fixed;
		width: 100%;
		top: 0px;
		left: 0px;
		z-index: 50;
	}
}